@model Caso1.Entities.Categoria

@{
    ViewBag.Title = "Detalles de Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            Detalles de la Categoría
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nombre)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descripcion)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaCreacion)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCreacion)</dd>
            </dl>

            <div class="form-group mt-3">
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>