@model AutoFix.Entities.Cliente

@{
    ViewBag.Title = "Registrar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4><i class="fas fa-user-plus"></i> Registrar Nuevo Cliente</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.FechaRegistro)

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre completo" })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Correo, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", placeholder = "correo@ejemplo.com", type = "email" })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", placeholder = "Ej: 8888-8888" })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Contraseña, new { @class = "font-weight-bold" })
                            @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control", placeholder = "Mínimo 6 caracteres" })
                            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Rol, new { @class = "font-weight-bold" })
                            @Html.DropDownListFor(
                                model => model.Rol,
                                (SelectList)ViewBag.Roles,
                                "Seleccione un rol",
                                new { @class = "form-control" }
                            )
                            @Html.ValidationMessageFor(model => model.Rol, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FechaRegistro, new { @class = "font-weight-bold" })
                            @Html.TextBoxFor(model => model.FechaRegistro, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}